[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-webpack-loader = "*"
djangorestframework = "*"
social-auth-app-django = "*"
pyyaml = "*"
django-extensions = "*"
uwsgi = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
