{% load render_bundle from webpack_loader %} {% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color: #ffffff;">

<head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.8.95/css/materialdesignicons.css"
        SameSite='Secure' />
    <title>My Tech</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/k-logo.jpg' %}" />

</head>

<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app">
        <app></app>
    </div>
    {% render_bundle 'main' %}
</body>
<script src="//hashtagify.me/assets/hashtagify/embed.js" type="text/javascript"></script>

</html>