{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'frontend/login.css' %}">

    <title>Matt's Tech</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/k-logo.jpg' %}" />
</head>

<body class="text-center">
    <form class="form-signin" action="/accounts/login/google-oauth2/" method="post">
        {% csrf_token %} {% if next %}
        <input type="hidden" name="next" value="{{ next }}" /> {% endif %}
        <img src="{% static 'frontend/k-logo.jpg' %}" class="img-fluid p-3" alt="My Tech Tools">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in with Google</button>

        <p class="text-muted" style="padding-top: 10px">© Matthew Kaye 2020</p>
    </form>
</body>