container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kaye_tech.settings
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:eu-west-2:167194836978:certificate/b8942673-f0c9-47a1-87ae-1ca44bf4d4dc
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
