option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kaye_tech.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static_root
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:eu-west-2:167194836978:certificate/b8942673-f0c9-47a1-87ae-1ca44bf4d4dc
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
